
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GCP App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>


    <div class="container">
      <a href="/" class="btn btn-success btn-sm">Home
        </a>
      <a href="/view" class="btn btn-success btn-sm">
        Converted Files
        </a>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
