{% extends "base.html" %}
{% block content %}
<h3>Files List</h3>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th>Name</th>
    <th>Date Created</th>
  </tr>
  {% for item in blob %}
  <tr>
    <td><a href="{{item.public_url}}">{{item.name}}</a></td>
    <td>{{item.updated}}</td>
  </tr>
  {% endfor %}
  </table>

{% endblock %}
